/*--------------------------------------------------------------
# Base - Colors
--------------------------------------------------------------*/

$colors: (
    primary: #414242,
    primary-light: lighten(red , 40%),
    primary-dark: darken(red , 40%),
    secondary: #6d6d6d,
    accent: #898989
);