/*--------------------------------------------------------------
# Base - Variables
--------------------------------------------------------------*/

// Padding
$mobile-padding: 15px 10px;

// Breakpoints
$mobile-s:  320px;
$mobile-m: 360px;
$mobile-l: 410px;
$tablet-s: 600px;
$tablet-m: 768px;
$tablet-l: 1020px;
$desktop-xs: 1280px;
$desktop-s: 1366px;
$desktop-sm: 1440px;
$desktop-m: 1600px;
$desktop-l: 1920px;
$desktop-xl: 2200px;
